:root,
html[data-theme="light"] {
	--primary-color: #005C5C;
	--secondary-color: #c9dcdd;
	--primary-font-color: #222222;
	--secondary-font-color: #222838;
	--primary-bg-color: var(--tree-color-7);
	--secondary-bg-color: var(--cloud-shadow-color);
	--cloud-main-color: #eaffff;
	--cloud-shadow-color: #c0e9f3;
	--cloud-bg-color-1: rgb(255, 255, 230);
	--cloud-bg-color-2: rgb(197, 255, 255);
	--cloud-bg-color-3: rgb(63, 203, 228);
	--cloud-bg-glow: rgb(252, 255, 240);
	--tree-color-1: #81D4F0;
	/* background mountain */
	--tree-color-2: #9cdbee;
	/* foreground mountain */
	--tree-color-3: #A0E0EF;
	/* furthest bg trees */
	--tree-color-4: #AFE6EF;
	/* 2nd furthest bg trees */
	--tree-color-5: #BFEDEE;
	/* furthest midground trees */
	--tree-color-6: #CEF3EE;
	/* midground trees */
	--tree-color-7: #EEFCF5;
	/* extra shading */
	--tree-color-8: #EDFFED;
	/* foreground trees */
	--100-device-width: calc(1dvw - var(--scrollbarWidth) / 100);
	--star-visibility: hidden;
	--sky-orb-color: #fffde6;
	--sky-orb-color-2: var(--sky-orb-color);
	--sky-orb-stroke-color: #fffbd8;
	--fireflies-color-1: #c3ffa0;
	--fireflies-color-2: #8cc521;
	--sticky-nav-bg: #EEFCF5c9;
	--mobile-nav-bg: rgb(227 255 242 / 61%);
	--mobile-nav-border: 1px solid rgb(227 255 242 / 100%);
}

html[data-theme="dark"] {
	--primary-color: #00AEFF;
	--secondary-color: #1c4253;
	--primary-font-color: #efefef;
	--secondary-font-color: #cee3f1;
	--primary-bg-color: var(--tree-color-7);
	--secondary-bg-color: var(--cloud-shadow-color);
	--cloud-main-color: #2e7dbd;
	--cloud-shadow-color: #005b97;
	--cloud-bg-color-1: rgb(0, 127, 185);
	--cloud-bg-color-2: rgb(0, 99, 165);
	--cloud-bg-color-3: rgb(0, 30, 85);
	--cloud-bg-glow: rgb(0, 117, 212);
	--tree-color-1: #1B3964;
	/* background mountain */
	--tree-color-2: #183657;
	/* foreground mountain */
	--tree-color-3: #1a4268;
	/* furthest bg trees */
	--tree-color-4: #112C42;
	/* 2nd furthest bg trees */
	--tree-color-5: #0E2837;
	/* furthest midground trees */
	--tree-color-6: #0b202c;
	/* midground trees */
	--tree-color-7: #071620;
	/* extra shading */
	--tree-color-8: #04131b;
	/* foreground trees */
	--100-device-width: calc(1dvw - var(--scrollbarWidth) / 100);
	--star-visibility: visible;
	--sky-orb-color: #eaf3ff;
	--sky-orb-color-2: #dce4f5;
	--sky-orb-stroke-color: #cff5ff;
	--fireflies-color-1: #ffe600;
	--fireflies-color-2: #ffce2c;
	--mobile-nav-bg: rgba(20, 30, 46, 0.61);
	--mobile-nav-border: 1px solid rgba(20, 30, 46, 1);
	--sticky-nav-bg: #071620c9;
}

* {
	box-sizing: border-box;
}

html {
	background-color: var(--primary-bg-color);
	width: var(--100-device-width);
	color: var(--primary-font-color);
	font-family: "Poppins", sans-serif;
	font-size: 19px;
}

/* Control content width */
#wrapper {
	position: relative;
	top: 37rem;
	transition: transform 0.3s ease;
	z-index: 100;
	margin: 0 auto;
	width: 50rem;
}

body {
	position: relative;
	margin: 0 auto;
	width: auto;
	height: 100dvh;
	overflow-x: hidden;
	line-height: 1.5rem;
}

section {
	padding-top: 6rem;
}

/* SkyHeader Styling */
#cloud-container {
	position: absolute;
	top: 0;
	margin: 0 auto;
	background: radial-gradient(var(--cloud-bg-color-1) 0%, var(--cloud-bg-color-2) 33%, var(--cloud-bg-color-3) 77%);
	background-color: var(--cloud-bg-color-1);
	width: 100%;
	height: 50dvh;
	overflow: hidden;
}

.cloud1 {
	position: absolute;
	z-index: 3;
	max-width: 10.5rem;
	animation: animateClouds 800s linear infinite;
}

.cloud2 {
	position: absolute;
	z-index: 1;
	max-width: 10.5rem;
	animation: animateClouds2 850s linear infinite;
}

.cloud3 {
	position: absolute;
	z-index: 1;
	max-width: 10.5rem;
	animation: animateClouds3 950s linear infinite;
}

/* Stars */
#stars-container {
	position: absolute;
	top: 0;
	margin: 0 auto;
	background: none;
	width: 100%;
	height: 33dvh;
	overflow: hidden;
}

#stars-container>svg {
	position: absolute;
	top: 0;
	margin: 0 auto;
	background: none;
	width: 100%;
	height: 33dvh;
	overflow: hidden;
}

.star {
	position: absolute;
	visibility: var(--star-visibility);
	opacity: .8;
	z-index: 0;
	animation: animateStars 9s linear infinite;
	fill: var(--sky-orb-stroke-color);
	will-change: opacity, filter;
}

/* Sun & Moon in Sky */
#sky-orb {
	position: absolute;
	top: 10rem;
	transition: transform 0.3s ease;
	z-index: 2;
	margin: 0 auto;
	height: 12rem;
	animation: animateSkyOrb 6s infinite normal forwards;
	will-change: filter;
}

#sky-orb path.a {
	fill: var(--sky-orb-color);
	stroke: var(--sky-orb-stroke-color);
	stroke-width: .5;
}

#sky-orb path.b {
	fill: var(--sky-orb-color-2);
	filter: blur(1px);
}

/* Treeline */
#treeline-container {
	display: flex;
	justify-content: center;
}

#treeline {
	position: absolute;
	z-index: 10;
	width: 100%;
	top: 3rem;
}

#treeline path {
	transition: transform 0.3s ease;
}

#treeline path.a {
	fill: url(#treelineGradient1);
	stroke: var(--cloud-bg-color-1);
	stroke-width: 0.5;
	filter: drop-shadow(0 -10px 20px var(--cloud-bg-glow));
}

#treeline path.b {
	fill: url(#treelineGradient2);
	stroke: var(--cloud-bg-color-2);
	stroke-width: 0.5;
	filter: drop-shadow(0 0px 20px var(--tree-color-5));
}

#treeline path.c {
	fill: url(#treelineGradient3);
}

#treeline path.d {
	fill: url(#treelineGradient4);
	filter: drop-shadow(-20px 0px 20px var(--tree-color-5));
}

#treeline path.e {
	fill: url(#treelineGradient5);
}

#treeline path.f {
	fill: url(#treelineGradient6);
	filter: drop-shadow(-50px -1px 0px var(--tree-color-6));
}

#treeline path.g {
	fill: url(#treelineGradient7);
	stroke: var(--tree-color-7);
	stroke-width: .3;
	filter: blur(0.05rem);
}

/* Header to allow centering the navbar after scroll*/
header {
	display: grid;
	position: relative;
	top: 25dvh;
	transition: transform 0.3s ease;
	z-index: 1000;
}

/* Header Logo */
#header-logo {
	margin: 0;
	height: 12rem;
	fill: var(--secondary-font-color);
	filter: drop-shadow(0 0 6px var(--tree-color-7));
}

/* navigation */
.navbar-default {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: fit-content;
	font-size: 1rem;
}

/* Top navigation links */
.navbar-links {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: .7s all;
	background: none;
	padding: 0.5rem 0;
	width: 100%;
	text-transform: uppercase;
}

.navbar-links a {
	display: inline-block;
	padding: 0.5rem 1rem;
	color: var(--secondary-font-color);
	font-weight: 500;
	filter: drop-shadow(0 0 5px var(--tree-color-8));
}

.navbar-links a:hover,
.navbar-links a:focus {
	transition: all 0.2s;
	border-radius: 0.25rem;
	background-color: var(--primary-font-color);
	color: var(--primary-bg-color);
}

/* Allows #sticky to be centered  */
#outer-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
}

/* Sticky navigation on scroll */
#sticky {
	display: flex;
	position: fixed;
	transition: opacity 0s linear;
	visibility: hidden;
	z-index: 900;
	margin: 0 auto;
	border-bottom: 1px solid var(--secondary-color);
	background-color: var(--primary-bg-color);
	width: 58rem;
	height: 3.5rem;
	animation: .7s ease navbarEntrance;
	font-size: 1.125rem;

	background: var(--sticky-nav-bg);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
}

/* Hide Hamburger & Themepicker on Desktop */
#hide-on-desktop {
	display: none;
}

/* Close hamburger menu */
.close-navigation {
	display: none;
}

#close-x path {
	fill: var(--primary-font-color);
}

/* Theme Icon SVG's */
.sunny {
	margin-top: 0.25rem;
	height: 1.75rem;
}

.moony {
	height: 2rem;
}

.sunny path,
.moony path {
	fill: var(--primary-font-color);
}

/* Theme Icon Toggle */
.theme-toggle {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	margin: .5rem .75rem;
	border: 0px solid var(--primary-color);
	border-radius: 0.5rem;
	background: none;
	width: 2rem;
	height: 3rem;
}

.theme-toggle:hover {
	cursor: pointer;
}

.sun,
.moon {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.sun {
	transform: scale(0.6) rotate(0deg);
	transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}

.moon {
	transform: scale(0.6) rotate(0deg);
	transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}

.sun.visible,
.moon.visible {
	transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
	opacity: 1;
	pointer-events: auto;
}

.sun.visible {
	transform: scale(1) rotate(180deg);
}

.moon.visible {
	transform: scale(1) rotate(0deg);
}

/* Links */
a {
	text-decoration: none;
	color: var(--primary-color);
	font-weight: 600;
}

/* Headings */
h2,h3,h4,h5,h6 {
	font-weight: 600;
}

h1 {
	margin-bottom: 1rem;
	line-height: 2rem;
	font-size: 2.5rem;
	text-align: center;
	font-weight: 700;
}

h2 {
	margin-bottom: 1.875rem;
	line-height: 1.75rem;
	font-size: 1.875rem;
}

h3 {
	margin-bottom: 1.5rem;
	line-height: 1.375;
	font-size: 1.5rem;
}

h4 {
	margin-bottom: 1.25rem;
	line-height: 1.125;
	font-size: 1.25rem;
}

h5 {
	margin-bottom: 1.125rem;
	line-height: 1rem;
	font-size: 1.125rem;
}

h6 {
	margin-bottom: 1rem;
	line-height: 0.875rem;
	font-size: 1rem;
	font-weight: bold;
}

/* Add » before each heading */
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
	display: inline-block;
	margin-right: 0.25rem;
	vertical-align: 7%;
	content: "»";
}

/* Add padding to headings that follow a paragraph */
p:not(:last-of-type)+h1,
p:not(:last-of-type)+h2,
p:not(:last-of-type)+h3,
p:not(:last-of-type)+h4,
p:not(:last-of-type)+h5,
p:not(:last-of-type)+h6 {
	padding-top: 2rem;
}

/* Section Spacing */
*+section {
	margin-bottom: 5rem;
}

/* Paragraph Spacing */
p {
	margin-bottom: 1.25rem;
	line-height: 1.75rem;
	margin: 0 auto;
}

*+p {
	margin-bottom: 2rem;
}

/* Markdown Styling */
/* Emphasis */
em {
	font-style: italic;
}

/* Strong */
strong {
	font-weight: bold;
}

/* Lists */
ol {
	margin-left: 1rem;
}

ul>li {
	display: flex;
	flex-direction: row;
}

ol>li {
	margin-left: 0.75rem;
}

/* Spacing after last list item */
ol>li:last-child:not(ol > li > ol > li),
ul>li:last-child:not(ul > li > ul > li) {
	margin-bottom: 2rem;
}

/* long dash for unordered list items */
ul>li::before {
	margin: 0 0.5rem 0 0;
	content: "—";
}

/* long dash for sublist items */
ul>li>ul>li::before {
	margin: 0 0.5rem 0 0;
	content: "—";
}

/* Blockquote */
blockquote,
q {
	margin-bottom: 2rem;
	margin-left: 1rem;
	border-left: 2px solid red;
	padding-left: 1rem;
	quotes: none;
}

blockquote p {
	margin-bottom: 0.25rem;
}

/* Code Block */
pre.astro-code.github-dark {
	margin-bottom: 2rem;
	border-radius: 0.25rem;
	padding: 1rem;
}

/* Inline code */
p code {
	display: inline-block;
	border-radius: 0.25rem;
	background-color: #24292e;
	padding: 0.05rem 0.4rem;
	color: var(--primary-font-color);
}

/* tags */
.tags-layout {
	display: flex;
	flex-wrap: wrap;
}

.tag {
	margin-right: 0.5rem;
}

.tag>a {
	border-radius: 0.25rem;
	background-color: var(--primary-color);
	padding: 0.25rem .75rem;
	text-decoration: none;
	color: var(--primary-bg-color);
	font-size: 1.125rem;
	font-weight: 400;
	text-transform: uppercase;
	transition: all ease .3s;
}

.tag>a:hover, .tag>a:focus {
	background-color: var(--secondary-color);
	text-decoration: none;
	color: var(--primary-color);
}

.single-page-anchor {
	padding-top: 6rem;
}

/* About Skills Sections */
.skills>h3 {
	font-size: 1.25rem;
}

.skills-layout {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
	grid-gap: 1rem;
	margin: 0 auto;
	max-width: calc(100vw - 2rem);
}

.skills-layout .skills {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 1.5rem;
	min-height: 24rem;
}

/* Blog footer */
#blog-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	padding: 3rem 0;
}

.copyright {
	display: flex;
	bottom: 0;
	align-items: flex-end;
	justify-content: flex-end;
	font-size: 0.75rem;
}

/* Animations */
@keyframes animateClouds {

	0%,
	100% {
		transform: translateX(-100px);
	}

	to {
		transform: translateX(125dvw);
	}
}

@keyframes animateClouds2 {
	from {
		transform: translateX(-300px);
	}

	to {
		transform: translateX(125dvw);
	}
}

@keyframes animateClouds3 {
	from {
		transform: translateX(-200px);
	}

	to {
		transform: translateX(125dvw);
	}
}

@keyframes animateStars {

	0%,
	100% {
		opacity: 1;
		filter: drop-shadow(0px 0px 3px var(--sky-orb-color));
	}

	25%,
	75% {
		opacity: 0.9;
		filter: drop-shadow(0px 0px 2px var(--sky-orb-color));
	}

	50% {
		opacity: 0.8;
		filter: drop-shadow(0px 0px 1px var(--sky-orb-color));
	}
}

@keyframes navbarEntrance {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}

	25% {
		transform: translateY(-75%);
		opacity: 0.20;
	}

	50% {
		transform: translateY(-50%);
		opacity: 0.45;
	}

	75% {
		transform: translateY(-25%);
		opacity: 0.7;
	}

	100% {
		transform: translateY(0);
		opacity: 0.9;
	}
}

@keyframes animateSkyOrb {

	0%,
	100% {
		filter: drop-shadow(0px 0px 20px var(--sky-orb-stroke-color));
	}

	50% {
		filter: drop-shadow(0px 0px 12px var(--sky-orb-stroke-color));
	}
}

/* Resonsive Tablet/Medium */
@media screen and (max-width: 1300px) {
	html {
		margin: 0 auto;
		overflow-x: hidden;
		font-size: 17px;
	}

	#cloud-container {
		height: 25dvh;
	}

	#treeline {
		position: absolute;
		top: 0;
		z-index: 10;
		width: 100dvw;
	}

	.navbar-default {
		display: flex;
		position: relative;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		height: fit-content;
		font-size: 1.25rem;
		align-content: flex-end;
	}

	header {
		top: 3rem;
		margin: 0 auto;
		width: calc(100dvw - 10rem);
	}

	#header-logo {
		height: 4.5rem;
		stroke: var(--tree-color-8);
		stroke-width: .5;
		fill: var(--secondary-font-color);
		filter: drop-shadow(2px 4px 8px var(--tree-color-8));
	}

	#hide-on-desktop {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.theme-toggle {
		margin: 1rem 5.25rem;
		filter: drop-shadow(2px 4px 8px var(--tree-color-8));
	}

	.sunny {
		margin-top: 0.35rem;
		height: 3.25rem;
	}

	.moony {
		height: 3.5rem;
	}

	.hamburger {
		position: fixed;
		right: 4.5rem;
		transition: transform 400ms;
		z-index: 9000;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.hamburger-rotate.active {
		transform: rotate(45deg);
	}

	.line {
		transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
		fill: none;
		stroke: var(--secondary-font-color);
		stroke-width: 5.5;
		stroke-linecap: round;
	}

	.hamburger .top {
		stroke-dasharray: 40 160;
	}

	.hamburger .middle {
		transform-origin: 50%;
		transition: transform 400ms;
		stroke-dasharray: 40 142;
	}

	.hamburger .bottom {
		transform-origin: 50%;
		transition: transform 400ms, stroke-dashoffset 400ms;
		stroke-dasharray: 40 85;
	}

	.hamburger.active .top {
		stroke-dashoffset: -64px;
	}

	.hamburger.active .middle {
		transform: rotate(90deg);
	}

	.hamburger.active .bottom {
		stroke-dashoffset: -64px;
	}

	nav>div.navbar-links.expanded>.close-navigation {
		display: block;
		padding: 2rem 2rem 0 0;
	}

	.navbar-links {
		display: none;
		top: 1rem;
		margin: 0;
		border: var(--mobile-nav-border);
		box-shadow: -36px 0px 60px 0 rgba(0, 0, 0, 0.4);
		background: var(--mobile-nav-bg);
		width: var(--100-device-width);
		backdrop-filter: blur(3px);
		-webkit-backdrop-filter: blur(3px);
	}

	.navbar-links a {
		display: block;
		padding: 1.5rem 4rem;
		text-align: right;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 2rem;
		font-weight: 500;
	}

	.navbar-links a:first-of-type {
		margin-top: 6rem;
	}

	.navbar-links.expanded {
		display: flex;
		position: fixed;
		top: 0;
		right: 0;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: flex-end;
		align-items: flex-end;
		justify-content: flex-start;
		width: fit-content;
		height: 100dvh;
	}

	body>header>nav>div.navbar-links.expanded>button {
		display: none;
	}

	#wrapper {
		top: 3dvh;
		margin: 0 auto;
		width: calc(100dvw - 10rem);
	}

	.skills-layout {
		grid-template-columns: repeat(2, 1fr);
	}

	h1 {
		margin-top: 5rem;
	}
}

/* Responsive Phone/Small */
@media screen and (max-width: 900px) {
	html {
		margin: 0 auto;
		overflow-x: hidden;
		font-size: 16px;
	}

	header {
		margin: 0 auto;
		width: calc(100dvw - 6rem);
	}

	#header-logo {
		height: 4rem;
	}

	.theme-toggle {
		margin: 1rem 4.5rem;
	}

	nav>div.navbar-links.expanded>.close-navigation {
		display: block;
		padding: 2rem .25rem 0 0;
	}

	.hamburger {
		position: fixed;
		right: 2rem;
	}

	.navbar-links a {
		display: block;
		padding: 2.5rem 3rem;
		width: 100%;
		text-align: right;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 2rem;
		font-weight: 500;
	}

	#wrapper {
		margin: 0 auto;
		width: calc(100dvw - 6rem);
	}

	.navbar-default {
		padding: 0;
		height: 5rem;
	}

	.skills-layout {
		grid-template-columns: repeat(1, 1fr);
	}
}