:root,
html[data-theme="light"] {
	--primary-color: #b30000;
	--secondary-color: #0099ff;
	--primary-font-color: #222222;
	--secondary-font-color: #222838;
	--primary-bg-color: var(--tree-color-7);
	--secondary-bg-color: var(--tree-color-2);
	--cloud-main-color: #f2ffff;
	--cloud-shadow-color: #cefcff;
	--cloud-bg-color-1: rgb(255, 255, 230);
	--cloud-bg-color-2: rgb(197, 255, 255);
	--cloud-bg-color-3: rgb(63, 203, 228);
	--cloud-bg-glow: rgb(252, 255, 240);
	--tree-color-1: #81D4F0;
	/* background mountain */
	--tree-color-2: #9cdbee;
	/* foreground mountain */
	--tree-color-3: #A0E0EF;
	/* furthest bg trees */
	--tree-color-4: #AFE6EF;
	/* 2nd furthest bg trees */
	--tree-color-5: #BFEDEE;
	/* furthest midground trees */
	--tree-color-6: #CEF3EE;
	/* midground trees */
	--tree-color-7: #DEF9ED;
	/* extra shading */
	--tree-color-8: #EDFFED;
	/* foreground trees */
	--100-device-width: calc(1dvw - var(--scrollbarWidth) / 100);
	--star-visibility: hidden;
	--sky-orb-color: #fffde6;
	--sky-orb-color-2: var(--sky-orb-color);
	--sky-orb-stroke-color: #FFF6CF;
	--fireflies-color-1: #c3ffa0;
	--fireflies-color-2: #8cc521;
	--outer-wrapper: rgba(217, 238, 255, 0.5);
}

html[data-theme="dark"] {
	--primary-color: #b200df;
	--secondary-color: #00aeff;
	--primary-font-color: #efefef;
	--secondary-font-color: #cee3f1;
	--primary-bg-color: var(--tree-color-7);
	--secondary-bg-color: var(--tree-color-1);
	--cloud-main-color: #2e7dbd;
	--cloud-shadow-color: #005b97;
	--cloud-bg-color-1: rgb(0, 127, 185);
	--cloud-bg-color-2: rgb(0, 99, 165);
	--cloud-bg-color-3: rgb(0, 30, 85);
	--cloud-bg-glow: rgb(0, 117, 212);
	--tree-color-1: #1B3964;
	/* background mountain */
	--tree-color-2: #183657;
	/* foreground mountain */
	--tree-color-3: #1a4268;
	/* furthest bg trees */
	--tree-color-4: #112C42;
	/* 2nd furthest bg trees */
	--tree-color-5: #0E2837;
	/* furthest midground trees */
	--tree-color-6: #0b202c;
	/* midground trees */
	--tree-color-7: #071620;
	/* extra shading */
	--tree-color-8: #04131b;
	/* foreground trees */
	--100-device-width: calc(1dvw - var(--scrollbarWidth) / 100);
	--star-visibility: visible;
	--sky-orb-color: #eaf3ff;
	--sky-orb-color-2: #dce4f5;
	--sky-orb-stroke-color: #cff5ff;
	--fireflies-color-1: #ffe600;
	--fireflies-color-2: #ffce2c;
	--outer-wrapper: rgba(5, 10, 53, 0.55);
}

* {
	box-sizing: border-box;
}

html {
	background-color: var(--primary-bg-color);
	width: var(--100-device-width);
	color: var(--primary-font-color);
	font-family: "Poppins", sans-serif;
	font-size: 18px;
}

/* Control content width */
#wrapper {
	position: relative;
	z-index: 100;
	margin: 0 auto;
	width: 55rem;
	top: 37rem;
	transition: transform 0.3s ease;
}

body {
	position: relative;
	margin: 0 auto;
	width: auto;
	height: 100dvh;
	overflow-x: hidden;
	line-height: 1.5rem;
}

#outer-wrapper {
	display: none;
	position: fixed;
	z-index: 100;
	background-color: var(--outer-wrapper);
	width: 100dvw;
	height: 100dvh;
}

/* SkyHeader Styling */
#cloud-container {
	position: absolute;
	top: 0;
	margin: 0 auto;
	background: radial-gradient(var(--cloud-bg-color-1) 0%, var(--cloud-bg-color-2) 33%, var(--cloud-bg-color-3) 77%);
	background-color: var(--cloud-bg-color-1);
	width: 100%;
	height: 18rem;
	overflow: hidden;
}

.cloud1 {
	position: absolute;
	z-index: 3;
	max-width: 8rem;
	animation: animateClouds 800s linear infinite;
	filter: url(#myFilter);

}

.cloud2 {
	position: absolute;
	z-index: 1;
	max-width: 10rem;
	animation: animateClouds2 850s linear infinite;
	filter: url(#myFilter);
}

.cloud3 {
	position: absolute;
	z-index: 1;
	max-width: 6rem;
	animation: animateClouds3 950s linear infinite;
	filter: url(#myFilter);
}

.star {
	position: absolute;
	visibility: var(--star-visibility);
	opacity: 0.75;
	z-index: 0;
	border-radius: 50%;
	background-color: var(--secondary-font-color);
	animation: animateStars 3s linear infinite;
	filter: drop-shadow(0px 0px 1px var(--sky-orb-color));
}

#stars-container {
	position: absolute;
	top: -5.5rem;
	margin: 0 auto;
	background: none;
	width: 100%;
	height: 20rem;
	overflow: hidden;
}

/* Sun & Moon in Sky */
#sky-orb {
	position: absolute;
	z-index: 2;
	top: 6rem;
	margin: 0 auto;
	height: 12rem;
	animation: animateSkyOrb 4s infinite normal forwards;
	filter: drop-shadow(0px 0px 12px var(--sky-orb-color));
	transition: transform 0.3s ease;

}

#sky-orb path.a {
	fill: var(--sky-orb-color);
	stroke: var(--sky-orb-stroke-color);
	stroke-width: .5;

}

#sky-orb path.b {
	fill: var(--sky-orb-color-2);
	filter: blur(1px);
}

/* Treeline */
#treeline-container {
	display: flex;
	justify-content: center;
}

#treeline {
	position: absolute;
	z-index: 10;
	width: 100%;
}

#treeline path {
	transition: transform 0.3s ease;
}

#treeline path.a {
	fill: url(#treelineGradient1);
	stroke: var(--cloud-bg-color-1);
	stroke-width: 0.5;
	filter: drop-shadow(0 -10px 20px var(--cloud-bg-glow));
}

#treeline path.b {
	fill: url(#treelineGradient2);
	stroke: var(--cloud-bg-color-2);
	stroke-width: 0.5;
	filter: drop-shadow(0 0px 20px var(--tree-color-5));
}

#treeline path.c {
	fill: url(#treelineGradient3);
}

#treeline path.d {
	fill: url(#treelineGradient4);
	filter: drop-shadow(-20px 0px 20px var(--tree-color-5));
}

#treeline path.e {
	fill: url(#treelineGradient5);
}

#treeline path.f {
	fill: url(#treelineGradient6);
	filter: drop-shadow(-50px -1px 0px var(--tree-color-6));
}

#treeline path.g {
	fill: url(#treelineGradient7);
	stroke: var(--tree-color-7);
	stroke-width: .3;
	filter: blur(0.05rem);

}

/* Header to allow centering the navbar after scroll*/
header {
	display: grid;
	position: relative;
	z-index: 1000;
	top: 25dvh;
	transition: transform 0.3s ease;
}

/* navigation */
/* nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
	margin-bottom: 2rem;
	text-transform: uppercase;
} */

.navbar-default {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: fit-content;
	font-size: 1.75rem;
}

/* Header Logo */
#header-logo {
	margin: 2rem 0;
	height: 30dvh;
	fill: var(--secondary-font-color);
}

#sticky {
	display: flex;
	visibility: hidden;
	background-color: var(--primary-bg-color);
	border-bottom: 1px solid var(--secondary-bg-color);
	top: 0;
	margin: 0 auto;
	position: fixed;
	z-index: 800;
}

/* Top navigation links */
.navbar-links {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: none;
	padding: 0.5rem 0;
	width: 100%;
}

.navbar-links a {
	display: inline-block;
	padding: 0.5rem 1rem;
	color: var(--secondary-font-color);
	font-weight: 500;
}

.navbar-links a:hover,
.navbar-links a:focus {
	transition: all 0.2s;
	border-radius: 0.25rem;
	background-color: var(--primary-font-color);
	color: var(--primary-bg-color);
}


/* Hamburger Menu */
.hamburger {
	display: none;
}

/* Close hamburger menu */
.close-navigation {
	display: none;
}

#close-x path {
	fill: var(--primary-font-color);
}

/* Theme Icon SVG's */
.sunny {
	margin-top: 0.25rem;
	height: 1.75rem;
}

.moony {
	height: 2rem;
}

.sunny path,
.moony path {
	fill: var(--primary-font-color);
}


/* Theme Icon Toggle */
.theme-toggle {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	margin: .5rem .75rem;
	border: 0px solid var(--primary-color);
	border-radius: 0.5rem;
	background: none;
	width: 2rem;
	height: 3rem;
}

.theme-toggle:hover {
	cursor: pointer;
}

.sun,
.moon {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.sun {
	transform: scale(0.6) rotate(0deg);
	transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}

.moon {
	transform: scale(0.6) rotate(0deg);
	transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}

.sun.visible,
.moon.visible {
	transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
	opacity: 1;
	pointer-events: auto;
}

.sun.visible {
	transform: scale(1) rotate(180deg);
}

.moon.visible {
	transform: scale(1) rotate(0deg);
}

/* Links */
a {
	text-decoration: none;
	color: var(--primary-color);
}

/* Headings */
h1 {
	margin-bottom: 2.125rem;
	line-height: 2rem;
	font-size: 2.125rem;
}

h2 {
	margin-bottom: 1.875rem;
	line-height: 1.75rem;
	font-size: 1.875rem;
}

h3 {
	margin-bottom: 1.5rem;
	line-height: 1.375;
	font-size: 1.5rem;
}

h4 {
	margin-bottom: 1.25rem;
	line-height: 1.125;
	font-size: 1.25rem;
}

h5 {
	margin-bottom: 1.125rem;
	line-height: 1rem;
	font-size: 1.125rem;
}

h6 {
	margin-bottom: 1rem;
	line-height: 0.875rem;
	font-size: 1rem;
	font-weight: bold;
}

/* Add » before each heading */
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
	display: inline-block;
	margin-right: 0.25rem;
	vertical-align: 7%;
	content: "»";
}

/* Add padding to headings that follow a paragraph */
p:not(:last-of-type)+h1,
p:not(:last-of-type)+h2,
p:not(:last-of-type)+h3,
p:not(:last-of-type)+h4,
p:not(:last-of-type)+h5,
p:not(:last-of-type)+h6 {
	padding-top: 2rem;
}

/* Section Spacing */
*+section {
	margin-bottom: 5rem;
}

/* Paragraph Spacing */
p {
	margin-bottom: 1.25rem;
}

/* Markdown Styling */
/* Emphasis */
em {
	font-style: italic;
}

/* Strong */
strong {
	font-weight: bold;
}

/* Lists */
ol {
	margin-left: 1rem;
}

ul>li {
	display: flex;
	flex-direction: row;
}

ol>li {
	margin-left: 0.75rem;
}

/* Spacing after last list item */
ol>li:last-child:not(ol > li > ol > li),
ul>li:last-child:not(ul > li > ul > li) {
	margin-bottom: 2rem;
}

/* long dash for unordered list items */
ul>li::before {
	margin: 0 0.5rem 0 0;
	content: "—";
}

/* long dash for sublist items */
ul>li>ul>li::before {
	margin: 0 0.5rem 0 0;
	content: "—";
}

/* Blockquote */
blockquote,
q {
	margin-bottom: 2rem;
	margin-left: 1rem;
	border-left: 2px solid red;
	padding-left: 1rem;
	quotes: none;
}

blockquote p {
	margin-bottom: 0.25rem;
}

/* Code Block */
pre.astro-code.github-dark {
	margin-bottom: 2rem;
	border-radius: 0.25rem;
	padding: 1rem;
}

/* Inline code */
p code {
	display: inline-block;
	border-radius: 0.25rem;
	background-color: #24292e;
	padding: 0.05rem 0.4rem;
	color: var(--primary-font-color);
}

/* tags */
.tags-layout {
	display: flex;
	flex-wrap: wrap;
}

.tag {
	margin-right: 0.5rem;
}

.tag>a {
	border-radius: 0.4rem;
	background-color: var(--primary-color);
	padding: 0.5rem 1.25rem;
	text-decoration: none;
	color: var(--primary-bg-color);
	font-size: 1.15rem;
}

.tag>a:hover {
	background-color: var(--secondary-color);
	text-decoration: none;
	color: var(--primary-bg-color);
}

/* About Skills Sections */
.skills>h3 {
	font-size: 1.25rem;
}

.skills-layout {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
	grid-gap: 1rem;
	margin: 0 auto;
	max-width: calc(100vw - 2rem);
}

.skills-layout .skills {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 1.5rem;
	min-height: 24rem;
}

.copyright {
	display: flex;
	bottom: 0;
	align-items: flex-end;
	justify-content: flex-end;
	font-size: 0.75rem;
}

/* Resonsive Tablet/Medium */
@media screen and (max-width: 1300px) {
	html {
		margin: 0 auto;
		overflow-x: hidden;
		font-size: 17px;
	}

	#cloud-container {
		height: 30dvh;
	}

	#treeline {
		position: absolute;
		top: 0dvh;
		z-index: 10;
		width: 100dvw;
	}

	.navbar-default {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	header {
		margin: 0 auto;
		width: calc(100dvw - 10rem);
	}

	#wrapper {
		margin: 0 auto;
		width: calc(100dvw - 10rem);
	}

	.navbar-links {
		display: none;
		top: 1rem;
		margin: 0;
		background-color: var(--secondary-color);
		width: var(--100-device-width);
	}

	.navbar-links a {
		display: block;
		border-bottom: 1px solid red;
		border-radius: 0.2rem;
		padding: 3rem 0;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 2.5rem;
		font-weight: bold;
	}

	.navbar-links a:first-of-type {
		border-top: 1px solid red;
	}

	.navbar-links.expanded {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		flex-direction: column;
		width: 100dvw;
		height: 100dvh;
		min-height: 10dvh;
	}

	.hamburger {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-right: 0rem;
		cursor: pointer;
	}

	.hamburger>.line {
		display: block;
		background-color: var(--secondary-color);
		width: 40px;
		height: 5px;
	}

	.hamburger>.line:nth-child(2) {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	nav>div.navbar-links.expanded>.close-navigation {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		padding: 1rem 2rem;
	}

	#close-x {
		height: 8rem;
	}

	nav>div.navbar-links.expanded>.close-navigation:hover {
		cursor: pointer;
	}

	.navbar-default {
		height: 6rem;
	}

	.skills-layout {
		grid-template-columns: repeat(2, 1fr);
	}

	h1 {
		margin-top: 5rem;
	}
}

/* Responsive Phone/Small */
@media screen and (max-width: 900px) {
	html {
		margin: 0 auto;
		overflow-x: hidden;
		font-size: 16px;
	}

	#treeline {
		position: absolute;
		top: -2dvh;
		left: 0;
		z-index: 10;
		width: 100dvh;
	}

	header {
		margin: 0 auto;
		width: calc(100dvw - 6rem);
	}

	#wrapper {
		margin: 0 auto;
		width: calc(100dvw - 6rem);
	}

	.navbar-default{
		padding: 0;
		height: 5rem;
	}

	.skills-layout {
		grid-template-columns: repeat(1, 1fr);
	}

}

/* Animations */
@keyframes animateClouds {

	0%,
	100% {
		transform: translateX(-100px);
	}

	to {
		transform: translateX(125dvw);
	}
}

@keyframes animateClouds2 {
	from {
		transform: translateX(-300px);
	}

	to {
		transform: translateX(125dvw);
	}
}

@keyframes animateClouds3 {
	from {
		transform: translateX(-200px);
	}

	to {
		transform: translateX(125dvw);
	}
}

@keyframes animateStars {

	0%,
	100% {
		opacity: 1;
		filter: drop-shadow(0px 0px 3px var(--sky-orb-color));
	}

	50% {
		opacity: 0.5;
		filter: drop-shadow(0px 0px 6px var(--sky-orb-color));
	}
}

@keyframes navbarEntrance {
	0% {
		transform: translateY(-50px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes animateSkyOrb {

	0%,
	100% {
		filter: drop-shadow(0px 0px 6px var(--sky-orb-stroke-color));
	}

	50% {
		filter: drop-shadow(0px 0px 9px var(--sky-orb-stroke-color));
	}
}