---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h2>Introduction</h2>
    <p>
      I've been hand-coding websites since I was 12 years old, back in the days when Notepad was our "IDE" of choice,
      since Dreamweaver was more of a hindrance.
    </p>

    <p>
      While it all started as a hobby for the love of creating something new and interactive…mainly fun fan sites for
      the video games I was obsessed with loved. (Legend of Dragoon anyone?) Eventually, I had the opportunity to work
      with commercial clients when I was 15, earning volunteer work hours through my high school teacher's freelance
      agency, and I haven't looked back since.
    </p>

    <p>
      Creating websites that customers love was even more rewarding, partly because of all the intricacies that come
      with working for external clients, and mostly for the external validation of doing something not everyone can do.
    </p>

    <p>
      Architecting technical solutions to everyday problems, streamline business processes, increasing customer
      conversion rate, optimizing the user experience…all interesting challenges, with their own unique solutions, it's
      impossible to get bored.
    </p>

    <p>
      While I love working with small businesses, after over a decade of it, I'm looking for the opportunity to bring my
      experience and skillset to a more corporate role.
    </p>
  </section>

  <section>
    <h2>Skills & Tech</h2>
    <div class="skills-layout">
      <section>
        <h3>LANGUAGES</h3>
        <p>For crafting the visual and interactive aspects of websites/applications.</p>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>SASS</li>
          <li>JavaScript</li>
          <li>Bash</li>
        </ul>
      </section>

      <section>
        <h3>SSG & CMS</h3>
        <p>For efficient web development & content management."</p>
        <ul>
          <li>AstroJS</li>
          <li>Wordpress</li>
        </ul>
      </section>

      <section>
        <h3>DEVELOPMENT TOOLS</h3>
        <p>For streamlined coding & development.</p>
        <ul>
          <li>VS Code</li>
          <li>NPM</li>
          <li>WSL</li>
        </ul>
      </section>

      <section>
        <h3>DATABASE & SERVER</h3>
        <p>For hosting and maintaining websites.</p>
        <ul>
          <li>Linux</li>
          <li>Nginx (preferred)</li>
          <li>Apache</li>
          <li>MariaDB</li>
          <li>MySQL</li>
          <li>PHP</li>
        </ul>
      </section>

      <section>
        <h3>GRAPHICS AND PROTOTYPING</h3>
        <p>For creating visually appealing & user-friendly digital experiences.</p>
        <ul>
          <li>Adobe Photoshop, Adobe Illustrator</li>
          <li>Affinity Designer, Affinity Photo</li>
          <li>Figma</li>
        </ul>
      </section>
    </div>
  </section>

  <section>
    <h2>Portfolio</h2>
    <p>
      You can explore my work in my <a href="#new">portfolio</a> section.
    </p>
  </section>
</BaseLayout>
