---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <div class="column-one">
      <p><strong>Please don't mind the dust, this page is still heavily under construction.</strong></p>
      <p>Just a taste of the thoughts behind a frontend dev.</p>

    </div>
    <div class="column-two">
      <ul>
        <h2>Posts</h2>
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
      </ul>
    </div>
  </section>
</BaseLayout>
