---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <section id="about">
    <h2>Hi, I'm Osy</h2>
    <p>
      A <strong>front-end web developer</strong> with over a decade of experience in translating design concepts into
      visually stunning web interfaces. 
    </p>

    <p>
      <strong>I don't just create websites though, I craft digital experiences.</strong> I analyze the entire
      picture, from business needs and requirements all the way through to the end user.
    </p>

    <p>
      That can mean a UI overhaul of an existing website, focusing on UX to drive customer conversion ...or
      architecting technical solutions to streamline business processes by reducing toil through
      automation.
    </p>

    <p>At the end of the day, I see even the most complex technical challenges as fun puzzles waiting to be solved.</p>

    <h3>It all started...</h3>
    <p>
      ...as a hobby for the love of creating something new and interactive, as a 12 year old kid, that meant coding fun
      fan sites for the video games I was <del>obsessed with</del> loved. (Legend of Dragoon, anyone?)
    </p>

    <p>
      Sharing my passion with others just wasn't enough for me. By the time I was 16, I was working with commercial
      clients by earning volunteer hours through my teacher's freelance agency, and haven't looked back since.
    </p>

    <p>
      While coding is my ultimate passion, making large impacts on business operations has brought its own unique sense
      of gratification and reward.
    </p>
  </section>

  <section id="skills">
    <h2>Skills & Tech</h2>
    <div class="skills-layout">
      <div class="skills">
        <h3>LANGUAGES</h3>
        <p>For crafting visual & interactive aspects of websites/apps.</p>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>SASS</li>
          <li>JavaScript</li>
        </ul>
      </div>

      <div class="skills">
        <h3>DATABASE & SERVER</h3>
        <p>For hosting & maintaining websites.</p>
        <ul>
          <li>Linux</li>
          <li>Nginx (preferred)</li>
          <li>Apache</li>
          <li>MariaDB, MySQL</li>
          <li>PHP</li>
        </ul>
      </div>

      <div class="skills">
        <h3>DEVELOPMENT TOOLS</h3>
        <p>For streamlined coding & development.</p>
        <ul>
          <li>VS Code</li>
          <li>Git</li>
          <li>NPM</li>
          <li>Chrome DevTools</li>
          <li>Firefox DevTools</li>
        </ul>
      </div>

      <div class="skills">
        <h3>SSG & CMS</h3>
        <p>For efficient web development & user-friendly content management.</p>
        <ul>
          <li>AstroJS</li>
          <li>Wordpress</li>
        </ul>
      </div>

      <div class="skills">
        <h3>GRAPHIC DESIGN</h3>
        <p>For drafting prototpes & creating assets.</p>
        <ul>
          <li>Adobe Photoshop, Adobe Illustrator</li>
          <li>Affinity Designer, Affinity Photo</li>
          <li>Figma</li>
        </ul>
      </div>
    </div>
  </section>

  <section id="portfolio">
    <h2>A Taste of My Work</h2>
    <p>
      You can explore my work in my <a href="#new">portfolio</a> section.
    </p>
  </section>

  <section id="contact">
    <h2>Get in Touch</h2>
    <p>
      You can explore my work in my <a href="#new">portfolio</a> section.
    </p>
  </section>
</BaseLayout>
