---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <section id="about">
    <h2>Hi, I'm Osy</h2>
    <div class="column-one">
      <p>
        My love for web development began as a hobby. As a 12 year old kid, that meant coding fun fan sites for the
        video games I was <del>obsessed with</del> loved. (Legend of Dragoon, anyone?)
      </p>

      <p>
        There was just something magical about creating something new and interactive—a way to share my joy and connect
        with others who liked the things I did. Of course, that meant just one fan site wasn't enough, and I began
        making more and more.
      </p>

      <p>
        By the time I was 16, the knowledge gained from my passion projects turned productive. I was working with
        commercial clients, earning volunteer hours through my teacher's freelance agency, and I haven't looked back
        since.
      </p>

      <p>
        Nowadays, my reward comes from exploring the transformative potential of coding in driving significant business
        impact.
      </p>

      <p>Who would've thought it could all start 22 years ago from the love of a simple ps1 game?</p>
    </div>

    <div class="column-two">
      <div class="gallery">
        <div style="width: 400px; height: 225px; background-color: red; border-radius: .2rem;"></div>
        <div style="width: 400px; height: 225px; background-color: red; border-radius: .2rem;"></div>
        <div style="width: 400px; height: 225px; background-color: red; border-radius: .2rem;"></div>
        <div style="width: 400px; height: 225px; background-color: red; border-radius: .2rem;"></div>
      </div>
    </div>
  </section>

  <section id="skills">
    <h2>Skills & Tech</h2>
    <div class="column-one">
      <p>
        <strong>Frontend web developer</strong> with over a decade of experience in translating design concepts into
        visually stunning web interfaces.
      </p>

      <p>
        I bring practical expertise in languages such as <strong>HTML5</strong>, <strong>CSS3</strong>, and <strong
          >JavaScript</strong
        >. My knowledge extends beyond coding, encompassing hosting, DNS, VPS, and other web technologies.
      </p>

      <p>
        <strong>I don't just create websites, I craft digital experiences.</strong> I analyze the entire picture, from
        business needs and requirements all the way through to the end user.
      </p>

      <p>
        That can mean a UI overhaul of an existing website, focusing on UX to drive customer conversion, or architecting
        technical solutions to streamline business processes by reducing toil through automation.
      </p>

      <p>
        At the end of the day, I see even the most complex technical challenges as fun puzzles waiting to be solved.
      </p>

      <h3>Resume Download</h3>
      <div id="download-container">
        <a
          href="./resume/osy_yassen_web_developer.pdf"
          target="_blank"
          rel="noopener noreferrer"
          download="Osy_Yassen_Resume"
          class="download"
          role="button"
          aria-label="Download Osy Yassen's resume in PDF format"
          title="Download Osy Yassen's resume in PDF format">PDF Resume</a
        >
        <a
          href="./resume/osy_yassen_web_developer.docx"
          target="_blank"
          rel="noopener noreferrer"
          download="Osy_Yassen_Resume"
          class="download"
          role="button"
          aria-label="Download Osy Yassen's resume in DOCX format"
          title="Download Osy Yassen's resume in DOCX format">DOCX Resume</a
        >
      </div>
    </div>
    <div class="column-two">
      <aside>
        <div id="accordion-1" class="accordion">
          <button class="accordion-button" aria-controls="accordion-content-1" aria-expanded="false">
            Dynamic Mindset
          </button>
          <div id="accordion-content-1" class="accordion-content" style="display: none;">
            <p>
              I avoid confinement to a predefined tech stack. I adapt and learn as needed, ensuring flexibility to meet
              project requirements, selecting the most effective tools for each job.
            </p>
          </div>
        </div>
      </aside>
      <div class="tabs-container">
        <div class="horizontal-tabs">
          <button class="tab" data-tab="Languages">Languages</button>
          <button class="tab" data-tab="Database">Database & Server</button>
          <button class="tab" data-tab="Development">Development</button>
          <button class="tab" data-tab="SSG">SSG & CMS</button>
          <button class="tab" data-tab="Design">Design</button>
        </div>

        <div class="tab-content-container">
          <div id="Languages" class="tab-content">
            <h3>LANGUAGES</h3>
            <p>For crafting visual & interactive aspects of websites/apps.</p>
            <ul>
              <li>HTML5</li>
              <li>CSS3</li>
              <li>SASS</li>
              <li>JavaScript</li>
            </ul>
          </div>

          <div id="Database" class="tab-content">
            <h3>DATABASE & SERVER</h3>
            <p>For hosting & maintaining websites.</p>
            <ul>
              <li>Linux</li>
              <li>Nginx (preferred)</li>
              <li>Apache</li>
              <li>MariaDB, MySQL</li>
              <li>PHP</li>
            </ul>
          </div>

          <div id="Development" class="tab-content">
            <h3>DEVELOPMENT TOOLS</h3>
            <p>For streamlined coding & development.</p>
            <ul>
              <li>VS Code</li>
              <li>Git</li>
              <li>NPM</li>
              <li>Chrome DevTools</li>
              <li>Firefox DevTools</li>
            </ul>
          </div>

          <div id="SSG" class="tab-content">
            <h3>SSG & CMS</h3>
            <p>For efficient web development & user-friendly content management.</p>
            <ul>
              <li>AstroJS</li>
              <li>Wordpress</li>
            </ul>
          </div>

          <div id="Design" class="tab-content">
            <h3>GRAPHIC DESIGN</h3>
            <p>For drafting prototpes & creating assets.</p>
            <ul>
              <li>Adobe Photoshop</li>
              <li>Adobe Illustrator</li>
              <li>Affinity Designer</li>
              <li>Affinity Photo</li>
              <li>Figma</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="portfolio">
    <h2>A Taste of My Work</h2>
    <div class="column-one">
      <p>
        Want to see some of my code? Below are fun side-projects that I enjoy dabbling in my spare time, that should
        allow you to get a basic idea of my skillset.
      </p>
    </div>
    <div class="column-two span2">
      <div id="project-container">
        <div class="project">
          <h3>Personal Site</h3>
          <p>
            Look familiar? It should, this is the site you're on right now. Features dynamic day/night mode,
            programaticaly generated stars & clouds, SVG manipulations, animations, sticky navigation, parallax effect,
            accordion, and horizontal tabs, all coded out by yours truly.
          </p>
        </div>

        <div class="project">
          <h3>Roc - CSS Framework Sandbox</h3>
          <p>
            A tool for testing CSS on all the various HTML elements, created to help devs who are developing classless
            CSS frameworks by providing instant visual feedback. Features a shadow dom navigation bar, ability to upload
            your own style sheet.
          </p>
        </div>

        <div class="project">
          <h3>Multi Discord Avatar Previewer</h3>
          <p>
            Sick of uploading images one-at a time to discord to see how your avatar would look? I was too, so I made
            this little tool. Allows you to upload and compare multiple images as avatars, in both light & dark theme,
            all at once.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <h2>Get in Touch</h2>
    <div class="column-one">
      <p>If you've made it this far and want to reach out, I'm excited about the prospect of new opportunities.</p>
      <p>
        Whether you have a challenging project that demands innovative solutions, envision a potential collaboration, or
        want to discuss full-time employment prospects, I'm all ears.
      </p>
      <ul id="contact-list">
        <li>
          <p>Connect with me on <a href="https://www.linkedin.com/in/osyassen/" target="_blank">LinkedIn</a>.</p>
        </li>
        <li>
          <p>Explore my code and see what I'm up to on <a href="https://github.com/sangmort" target="_blank">Github</a>.</p>
        </li>
        <li>
          <p>For email, simply use the provided contact form.</p>
        </li>
      </ul>
    </div>
    <div class="column-two">
      <form id="contactForm" aria-labelledby="contact-aria">
        <h3 id="contact-aria">Contact Form</h3>

        <div class="form-input-column-grouping">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            minlength="4"
            maxlength="25"
            required
            aria-describedby="nameError"
            placeholder="ex: Vincent Valentine"
            autocomplete="name"
          />
          <span id="nameError" class="error" role="alert" aria-live="assertive"></span>
        </div>

        <div class="form-input-column-grouping">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            aria-describedby="emailError"
            placeholder="ex: vincentvalentine@shinra.com"
            autocomplete="email"
          />
          <span id="emailError" class="error" role="alert" aria-live="assertive"></span>
        </div>

        <div class="form-input-column-grouping">
          <label for="phone">Phone Number</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            pattern="[0-9]+"
            minlength="10"
            maxlength="15"
            required
            aria-describedby="phoneError"
            placeholder="ex: 123-456-7890"
            autocomplete="tel"
          />
          <span id="phoneError" class="error" role="alert" aria-live="assertive"></span>
        </div>

        <div class="form-input-column-grouping">
          <label for="organization">Organization</label>
          <input
            type="text"
            id="organization"
            name="organization"
            maxlength="50"
            aria-describedby="organizationError"
            placeholder="ex: Shinra Inc."
            autocomplete="organization"
          />
          <span id="organizationError" class="error" role="alert" aria-live="assertive"></span>
        </div>
        <div class="form-input-column-grouping-span2">
          <label for="message">Message</label>
          <textarea
            id="message"
            name="message"
            minlength="10"
            maxlength="250"
            rows="5"
            required
            aria-describedby="messageError"
            placeholder="ex: Hi, I'm reaching out to discuss an opportunity..."></textarea>
          <span id="messageError" class="error" role="alert" aria-live="assertive"></span>
        </div>
        <input type="submit" value="Submit" aria-label="Submit form" />
      </form>
      <script>
        document.getElementById("contactForm").addEventListener("submit", (event) => {
          const name = document.getElementById("name") as HTMLInputElement;
          const email = document.getElementById("email") as HTMLInputElement;
          const phone = document.getElementById("phone") as HTMLInputElement;
          const organization = document.getElementById("organization") as HTMLInputElement;
          const message = document.getElementById("message") as HTMLTextAreaElement;

          const nameError = document.getElementById("nameError");
          const emailError = document.getElementById("emailError");
          const phoneError = document.getElementById("phoneError");
          const organizationError = document.getElementById("organizationError");
          const messageError = document.getElementById("messageError");

          const showError = (element: HTMLElement, message: string) => {
            element.textContent = message;
            element.style.display = "block";
            element.setAttribute("aria-live", "assertive");
          };

          const hideError = (element: HTMLElement) => {
            element.textContent = "";
            element.style.display = "none";
          };

          if (name.value.length < 4 || name.value.length > 25) {
            showError(nameError, "Name must be between 4 and 25 characters");
            event.preventDefault();
          } else {
            hideError(nameError);
          }

          if (!email.validity.valid) {
            showError(emailError, "Email is not valid");
            event.preventDefault();
          } else {
            hideError(emailError);
          }

          if (phone.value.length < 10 || phone.value.length > 15) {
            showError(phoneError, "Phone number must be between 10 and 15 digits");
            event.preventDefault();
          } else {
            hideError(phoneError);
          }

          if (organization.value.length > 50) {
            showError(organizationError, "Organization name must be 50 characters or less");
            event.preventDefault();
          } else {
            hideError(organizationError);
          }

          if (message.value.length < 10) {
            showError(messageError, "Message must be at least 10 characters long");
            event.preventDefault();
          } else {
            hideError(messageError);
          }
        });
      </script>
    </div>
  </section>
</BaseLayout>
