---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <nav>
    <Hamburger />
    <div class="header-links">
        <Navigation />
    </div>
  </nav>
</header>
