---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SkyHeader from "../components/SkyHeader.astro";
import StickyNavigation from "../components/StickyNavigation.astro";
import Treeline from "../components/Treeline.astro";

import "../styles/reset.css";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/portfolio-site/favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="/portfolio-site/favicon-192x192.png" />
    <link rel="manifest" href="/portfolio-site/manifest.webmanifest" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      media="print"
      onload="this.onload=null;this.removeAttribute('media');"
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Quicksand:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />
    <!-- no-JS fallback -->
    <noscript>
      <link rel="stylesheet" href="(font CSS URL here)" />
    </noscript>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <SkyHeader />
    <Treeline />
    <Header />
    <div id="outer-wrapper">
      <StickyNavigation />
    </div>
    <main>
      <div id="wrapper">
        <h1>{pageTitle}</h1>
        <slot />
        <Footer />
      </div>
    </main>

    <script>
      import "../scripts/parallax-treeline.js";
      import "../scripts/hamburger.js";
      import "../scripts/theme-picker.js";
      import "../scripts/shrink-navbar-on-scroll.js";
      import "../scripts/create-clouds-stars.js";
      import "../scripts/vertical-tabs.js";
      import "../scripts/accordion.js";
    </script>
  </body>
</html>
