---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/reset.css";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="/favicon-192x192.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div id="wrapper">
      <Header />

      <h1>{pageTitle}</h1>
      <slot />

      <Footer />
    </div>
    <script>
      import "../scripts/hamburger.js";
      import "../scripts/theme-picker.js";
    </script>
  </body>
</html>
